{
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "bracketSpacing": false,
        "singleQuote": false,
        "printWidth": 100,
        "insertPragma": false
      }
    },
    {
      "files": "*.md",
      "options": {}
    }
  ]
}

